:root{
    --primary-color:rgb(30, 226, 95);
    --dark-green:rgb(9, 133, 50);
}

body{
    font-family:'Helvetica',sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    width:60vw;
    margin: auto;
}
.navigation{
    background-color:var(--primary-color);
    border-radius: 10px;
    padding:5px 0px;
    margin-top:0%;   
}
.container label{
  font-size:bold;
  color:var(--dark-green);
  font-weight: bold;
}

.angle-input{
    margin: 10px 0px;
    height:26px;
    font-size: 18px;
    
}
#is-triangle-btn{
    font-size: large;
    font-weight: bold;
    margin: 15px 0px;
    border-radius: 5px;
    height: 30px;
}

#show-result{
    margin: 30px auto;
    font-size: 26px;
    font-weight: bold;

    
}
.links{
    text-decoration: none;
    font-size: 18px;
    color:white;
}
.inline{
    display: inline;
    padding:0px 20px;
}
label{
    font-size: large;
}
