:root{
    --primary-color:rgb(30, 226, 95);
}

body{
    margin:0% 5%;
    font-family:'Helvetica',sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    width:60vw;
    margin: auto;
}
.navigation{
    background-color:var(--primary-color);
    border-radius: 10px;
    padding:5px 0px;
    margin-top:0%;   
}

.angle-input{
    margin: 5px 0px;
}
#is-triangle-btn{
    font-size: large;
    font-weight: bold;
    margin: 5px 0px;
    border-radius: 5px;
    height: 30px;
}

#show-result{
    margin: 5px 0px;
}
.links{
    text-decoration: none;
    font-size: 18px;
    color:white;
}
.inline{
    display: inline;
    padding:0px 20px;
}
label{
    font-size: large;
}
